.centerBar{
    flex: 8;
    background:white;
    padding: 1rem;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    .container{
        box-shadow: 2px 1px 25px -8px rgba(0,0,0,1);
        -webkit-box-shadow: 2px 1px 25px -8px rgba(0,0,0,1);
        -moz-box-shadow: 2px 1px 25px -8px rgba(0,0,0,1);
        padding: 1rem;
        margin-top: 10px;
        img{
          width: 32px;
          height: 32px;
          border-radius: 100%;
            position: relative;
       
        }
        input{
          position: relative;
            top: -5px;
            margin: -5px 5px;
            border: none;
            width: 50%;
            height: 30px;
            // text-align: center;
            border-radius: 20px;
            outline: none;
            padding: 1rem;
        }
        hr{
            margin: 20px 0;
        }
        .icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
       
        }
        .media{
            i{
              color: tomato;  
            }
            cursor: pointer;
        }
        .tag{
            i{
              color: blue;  
            }
            cursor: pointer;
        }
        .location{
            i{
              color:green;  
            }
            cursor: pointer;
        }
        .feelings{
            i{
              color:gold;  
            }
            cursor: pointer;
        }
        button{
         
              background: green;  
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            cursor: pointer;
        }
        
        
    }
}