.centerBar{
    flex: 3;
    background: rgba(217, 240, 217, 0.486);

img{
  width: 20%;
  background: darkblue;
  padding: 1rem;
  border-radius: 100%;
  object-fit: cover;
}
span{
    color: tomato;
    text-transform: uppercase;
}
}