.post{
    
    width: 95%;
    margin: 10px auto;
    .top{
        background: rgba(128, 128, 128, 0.562);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .left{
            padding: .2rem;
            flex:1;
            margin-left: 25px;
            .first_post{
                width:32px;
                height: 32px;
                border-radius: 50%;

            }
        }
        .center{
            flex: 10;
            h3{
                color: white;
            }
        }
        .right{
            flex: 3;
            span{
                color: white;
            }
        }
    }
    .post_center{
        display: flex;
        flex-wrap: nowrap;
    
        .like{
            display: flex;
            margin: 0 20px; 
            p{
                color: rgb(10, 196, 202);
                font-size: .8rem;
            }     
        }
        .comment{
            
             display: flex;
            i{
                margin: 0 5px;
            }
            span{
                color: rgb(10, 196, 202);
                font-size: .8rem;
            }
        }
    }
}