.leftBr{
    background: white;
    flex: 2;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    
  

    .boxBar{
        text-align: center;
        padding: 
        0.5rem;
        li{

            margin-top: 20%;
            transition: .5s ease-in-out;
            list-style: none;
            padding: 0.5em;
            cursor: pointer;
            &:hover{
                background: rgb(82, 119, 119);
                color: white;
                border-radius: 10px;
            }
        }
    }
    .buttonfooter {
        button{
            width: 100px;
            margin-left: 20px;
        }
        hr{
            margin: 10px 0;
        }
    }
    .comments{
        margin-left: 40px;
        .cont1, .cont2,.cont3{
            display: flex;
            align-items: center;
            margin: 10px 0;
            

        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
   
}